{% include 'sup/cabecera.html' %}
{% if usuarioStorage %}
<input type="text" id="hashUsuario" name="hashUsuario" value="{{usuarioStorage}}" hidden>
<script src="{{ url_for( 'static', filename='js/javaLogin.js' ) }}"></script>

<div class="p-5" style="background-color: rgba(200, 221, 241, 0.333);">
    <div class="container">
        <h1 class="display-2">Oces Supervisor</h1>
        <div>

            <strong>¡Bienvenido usuario: {{ usuarioStorage[-5:].capitalize() }}</strong>

        </div>
        <p>Laboratorios Beta SA</p>

    </div>
</div>
{% endif %}
{% include 'sup/pie.html' %}