{% include 'sup/cabecera.html' %}
<input type="text" id="hashUsuarioO">
<script>
	var hashUsuario = sessionStorage.getItem("hash");
	console.log(hashUsuario);
	document.getElementById("hashUsuarioO").value = hashUsuario;

	if (!(hashUsuario)) {
		window.location.href = "/";
	}

</script>
<br>
<div class="card-body" style="min-height: 500px;">
	<div class="card border-info">
		<div class="card-header">
			<h4>Módulos:</h4>
		</div>
		<div class="card-body">
			<form action="/sup/modulos/guardar" method="post" enctype="multipart/form-data">
				<table id="tblContact" class="table table-sm">
					<thead>
						<tr>
							<th style="text-align: center;" scope="col" class="table-info">Nombre interno</th>
							<th style="text-align: center;" scope="col" class="table-info">Tíulo</th>
							<th style="text-align: center;" scope="col" class="table-info">Pie</th>
							<th style="text-align: center;" scope="col" class="table-info">Desde</th>
							<th style="text-align: center;" scope="col" class="table-info">Hasta</th>
							<th style="text-align: center;" scope="col" class="table-info">Acciones</th>
						</tr>
					</thead>
					<tbody id="rowsClientes">
						<tr>
							<td id="m_nombre"><input type="text" class="form-control form-control-sm" name="m_nombre"
									id="#" aria-describedby="helpId" placeholder=""></td>
							<td id="m_titulo"><input type="text" class="form-control form-control-sm" name="m_titulo"
									id="#" aria-describedby="helpId" placeholder=""></td>
							<td id="m_pie"><input type="text" class="form-control form-control-sm" name="m_pie" id="#"
									aria-describedby="helpId" placeholder=""></td>
							<td id="m_desde"><input type="date" class="form-control form-control-sm" name="m_desde"
									id="#" aria-describedby="helpId" placeholder=""></td>
							<td id="m_hasta"><input type="date" class="form-control form-control-sm" name="m_hasta"
									id="#" aria-describedby="helpId" placeholder=""></td>

							<td id="acciones">
								<div class="d-grid gap-2 col-6 mx-auto">
									<button type="submit" class="btn btn-dark btn-sm">Agregar</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody id="rowsModulos">
						{% for modulo in modulos %}
						<tr>
							<!--<th scope="row">0</th>-->
							<td id="m_nombre" align="Left">{{modulo[1]}}</td>
							<td id="m_titulo" align="Left">{{modulo[2]}}</td>
							<td id="m_pie" align="Left">{{modulo[3]}}</td>
							<td id="m_desde" align="center">{{modulo[4]}}</td>
							<td id="m_hasta" align="center">{{modulo[5]}}</td>
							<td id="acciones" align="center">

								<div class="row">
									<div class="col">
										<a class=" btn btn-info btn-sm" href="/sup/editarModulos/{{modulo[0]}}"
											role="button" style="display:center;">Editar</a>
									</div>
									<div class="col">
										<a class=" btn btn-danger btn-sm" href="/sup/modulos/borrar/{{modulo[0]}}"
											role="button" style="display:center;">Borrar</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>
</div>
{% include 'sup/pie.html' %}