{% include 'apms/cabecera.html' %}
<input type="text" id="hashUsuarioO" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    console.log(hashUsuario);
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>
<div class="p-5" style="background-color: rgba(200, 221, 241, 0.333);">
    <div class="container">
        <h1 class="display-2">Oces Apm.</h1>
        <div>

            <strong value="sessionStorage.getItem('hash').value"></strong>

        </div>
        <p>Laboratorios Beta SA</p>

    </div>
</div>
{% include 'apms/graficoUnidades.html' %}
{% include 'apms/pie.html' %}