<div id="" name="">
    <div class="card-header">
        <h4>Editar Módulo:</h4>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body" hidden>
                <label for="txtID" class="form-label">ID:</label>
                <input class="form-control" value="{{modulo[0]}}" type="text" name="txtID" id="txtID">
            </div>
            <div class="card-body">
                <label for="txtNombre" class="form-label">Nombre:</label>
                <input class="form-control" value="{{modulo[1]}}" type="text" name="txtNombre" id="txtNombre">
            </div>
            <div class="card-body">
                <label for="txtTitulo" class="form-label">Titulo:</label>
                <input class="form-control" value="{{modulo[2]}}" type="text" name="txtTitulo" id="txtTitulo">
            </div>
            <div class="card-body">
                <label for="txtPie" class="form-label">Pie:</label>
                <input class="form-control" value="{{modulo[3]}}" type="text" name="txtPie" id="txtPie">
            </div>
            <div class="card-body">
                <label for="txtDesde" class="form-label">Desde:</label>
                <input class="form-control" value="{{modulo[4]}}" type="text" name="txtDesde" id="txtDesde">
            </div>
            <div class="card-body">
                <label for="txtHasta" class="form-label">Hasta:</label>
                <input class="form-control" value="{{modulo[5]}}" type="text" name="txtHasta" id="txtHasta">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-info btn-mg">Guardar</button>
                    </div>
                    <div class="col-2">
                        <p class="lead">
                            <a class="btn btn-secondary btn-mg" href="/admin/modulos" role="button"
                                style="display:center;">Volver</a>
                        </p>
                    </div>
                    <div class="col-4">
                    </div>
                </div>

            </div>
        </div>

    </div>
    </br>
</div>