{% include 'admin/cabecera.html' %}

<input type="text" id="hashUsuarioO" name="hashUsuario" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>
{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="card-body">
    <div class="card border-info">
        <div class="card-header">
            <h3>Copiar oferta comercial</h3>
        </div>
        <div class="card-body">
            <form action="/admin/guardar/copiaOferta" method="post" enctype="multipart/form-data">
                <div class="row">

                    <div class="col-4">
                        <label for="txtOrigen">
                            <h5>Origen:</h5>
                        </label>
                        <select name="txtOrigen">
                            {% for modulo in modulos %}
                            <option value="{{modulo[0]}}">
                                {{modulo[0]}} {{modulo[1]}}
                            </option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <label for="txtDestino">
                            <h5>Destino:</h5>
                        </label>
                        <select name="txtDestino">
                            {% for modulo in modulos %}
                            <option value="{{modulo[0]}}">
                                {{modulo[0]}} {{modulo[1]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">

                        <button type="submit" class="btn btn-dark btn-sm">Copiar</button>
                    </div>
                    <div class="col-5"></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'admin/pie.html' %}